@import 'tailwindcss';
@import './styles/variables.css';
@import './styles/layout.css';
@import './styles/main-container.css';
@import './styles/header.css';
@import './styles/footer.css';
@import './styles/grave-list.css';
@import './styles/single-grave.css';
@import './styles/right-panel.css';


@font-face {
  font-family: 'MS PGothic';
  src: url('fonts/ms-pgothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

