@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.borderDecoration {
  border: 20px solid transparent;
  border-image: var(--border-image-url) 10 repeat !important;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
#background {
  background-image: var(--bg-img-url);
  background-size: var(--bg-stretch-size);
  image-rendering: pixelated;
}

/* ====================== */
/* Header */
/* ====================== */

#header,
#layout {
  display: flex;
  margin: 0 auto;
  max-width: var(--layout-max-width);
  width: 100%;
}
#header {
  min-height: var(--header-min-height);
  background-image: var(--header-bg-img-url);
  padding: 1.5rem 2rem;
}
#headerLogoContainer {
  cursor: pointer;
}

#headerLogoImage {
  background-image: var(--header-logo-img-url);
  background-size: contain;
  background-repeat: no-repeat;
  height: var(--header-img-height);
  width: calc(var(--header-img-height) * var(--header-img-ratio));

  image-rendering: pixelated;
}
#headerLogoImage:hover {
  transform: scale(1.1);
  transition: transform 0.125s cubic-bezier(0.7, 0, 0.7, 1.5);
}
.header-icon-button {
  border: none;
  color: var(--header-icon-button-text-color);
  background-color: var(--header-icon-button-background-color);
  font-size: 1rem;
  font-weight: 1000;
  padding: 0.5rem auto;
  text-shadow: -5px 1px 0px var(--header-icon-button-text-shadow-color);

  /* Border */
  border: 10px solid transparent;
  border-image: var(--border-image-url) 10 repeat !important;
  /* background-clip: padding-box; */

  image-rendering: crisp-edges;
  image-rendering: pixelated;

  cursor: pointer;
}
.header-icon-button:hover {
  transform: scale(1.1);
  transition: transform 0.125s cubic-bezier(0.7, 0, 0.7, 1.5);
}

/* ====================== */
/* Content */
/* ====================== */
#content {
  padding-top: 8px;
}
#layout {
  display: flex;
  flex-direction: row;
}
#main-container {
  display: flex;
  flex-direction: column;
  height: var(--layout-height);
  border-top: none;
  width: calc(100% - var(--right-panel-width));

  background-image: var(--grave-yard-bg-img-url);
  background-size: var(--bg-stretch-size);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#pagination-container {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#right-panel {
  width: var(--right-panel-width);
  border-top: none;
  border-left: none;
}
#grave-list-container {
  border-top: none;
  height: var(--grave-list-height);
  padding: 1.5rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grave-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 100%; */

  animation: playSprite 1s steps(1, end) infinite;
}

.grave-icon-text {
  text-align: center;
  font-size: 1rem;
  /* font-weight: bold; */
  color: white;
  text-shadow: -1px 1px 0px var(--header-icon-button-text-shadow-color);
}
/* ====================== */
/* CSS Variables */
/* ====================== */
:root {
  --bg-stretch-size: 210px;
  --bg-overlay-color: black;
  --bg-overlay-opacity: 0.352;

  --content-transition: opacity 0.3s ease;

  /* Image URLs */
  --bg-img-url: url('/themes/containerbg.png');
  /* --bg-img-url: url('/themes/containerbg-2.png'); */
  --header-bg-img-url: url('/themes/containerbg.png');
  --header-logo-img-url: url('/graveyardLogoTrimmed.png');
  --border-image-url: url('/themes/border.png');
  /* --grave-yard-bg-img-url: url('/themes/FishInSea.png'); */
  --grave-yard-bg-img-url: url('/themes/IMG_7436.PNG');
  --grave-img-url: url('/grave-1.png');

  /* Layout */
  --header-max-width: 980px;
  --layout-max-width: 980px;
  --header-min-height: 48px;

  --right-panel-width: 284px;

  --header-img-ratio: 87 /14;
  --header-img-height: 40px;

  --layout-height: 660px;
  --grave-list-height: 600px;

  /* Colors */
  --header-icon-button-text-color: rgb(119, 89, 114);
  --header-icon-button-background-color: rgb(249, 228, 246);
  --header-icon-button-text-shadow-color: white;
}
/* ====================== */

/* ====================== */
/* Media Queries */
/* ====================== */
@media (max-width: 1024px) {
  :root {
    --layout-max-width: 980px;
  }
}

@media (max-width: 1023px) {
  #grave-list-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #headerIconContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .header-icon-button {
    width: fit-content;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;

    background-color: transparent;
    text-align: left;
  }
}

@media (max-width: 639px) {
  #layout {
    flex-direction: column;
  }
  #right-panel {
    width: 100%;
    border-left: 20px solid transparent;
    border-image: var(--border-image-url) 10 repeat !important;
  }
  #main-container {
    width: 100%;
  }
  #grave-list-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    overflow-y: auto;
  }
  #header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #headerIconContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .header-icon-button {
    width: fit-content;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;

    background-color: transparent;
    text-align: left;
  }
}
@keyframes playSprite {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
